.quote {
  min-height: 250px;
}

.modal-dialog {
  width: 60%;
  max-width: 100%;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%) !important;
}

#sliderContainer {
  scroll-snap-type: x mandatory;
}

#sliderContainer::-webkit-scrollbar {
  height: 15px;
  background-color: #ddd;
  border-radius: 8px;
}

#sliderContainer::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 8px;
}

#sliderContainer .box {
  min-height: 150px;
  height: 100px;
  cursor: pointer;
  min-width: calc(90% / 3);
  scroll-snap-align: center;
  user-select: none;
}

@media (max-width: 991px) {
  #sliderContainer .box {
    min-width: calc(90% / 2);
  }

  .content .box {
    width: 90% !important;
  }
}

@media (max-width: 767px) {
  #sliderContainer .box {
    min-width: calc(80% / 1);
  }
}

#sliderContainer .box .item p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

#sliderContainer .box .modify {
  top: 4px;
  right: 10px;
}

#sliderContainer .box .modify i {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}

#sliderContainer .box:hover i {
  visibility: visible;
  opacity: 1;
}

#sliderContainer .box .close:hover {
  background-color: var(--bs-red);
  color: #fff;
}

#sliderContainer .box .update:hover {
  background-color: var(--bs-success);
  color: #fff;
}

.slider .content > div {
  min-height: 180px;
}
